.container {
	height: 100vh;
	width: 100vw;
	background-color: #f5f2b8;
	display: grid;
	align-content: center;
}
.buttonContainer {
	height: 20rem;
	width: 35rem;
	position: relative;
	margin: auto;
}
.face {
	position: absolute;
	transform: scale(0.4);
	left: 15rem;
	transition: top 0.5s;
}
.button {
	position: relative;
	height: 12rem;
	margin: 4rem auto;
	width: 30rem;
	border: 0.1rem solid #818aa3;
	border-radius: 6rem;
	background-color: #f9dad0;
}
.slider {
	height: 11rem;
	width: 11rem;
	transform-origin: center;
	background-color: #a491d3;
	border-radius: 5.5rem;
	position: relative;
	left: 0;
	transition: left 0.8s;
	margin: 0.4rem;
}
.Eye {
	fill: rgb(250, 52, 52) !important;
}
#leftEyebrow {
	transform: rotateZ(30deg);
	transform-origin: 30% 50%;
	box-sizing: border-box;
}
#rightEyebrow {
	transform: rotateZ(-30deg);
	transform-origin: 70% 50%;
	box-sizing: border-box;
}

.stop {
	position: absolute;
	left: 28rem;
	top: -2rem;
	animation: comment 1s 0.2s ease-in-out;
	transition: opacity 0.8s;
}
.continue {
	position: absolute;
	opacity: 0;
}

@media (max-width: 600px) {
	.buttonContainer {
		transform: scale(0.6);
		left: -10vw;
	}
	.stop {
		left: 10rem;
		transform: rotateY(180deg);
	}
}
@media (max-width: 400px) {
	.buttonContainer {
		transform: scale(0.6);
		left: -6rem;
	}
}
